<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<header>
    <head>
        <title>Application de gestion automobile</title>
    </head>
</header>

<body>
    <div>
        <h1>Bienvenue sur autoCar</h1>
    </div>
    <div class="col">
        <ol>
            <ul>
                Plus de
                {{nombres}}
                vehicules Disponibles pour vous
            </ul>
        </ol>
    </div>
    <div class="formulaire">
        <div class="form">
            <div class="button">
                <button (click)="changeValue()">Consulter toutes la liste disponible</button>
            </div>
        </div>

    </div>
</body>

<footer>
    <p>DigitalDevsAfrica</p>
</footer>

</html>

